absl-py==2.2.2
accelerate==1.6.0
addict==2.4.0
amqp==5.3.1
attrs==25.3.0
basicsr @ git+https://github.com/XPixelGroup/BasicSR@8d56e3a045f9fb3e1d8872f92ee4a4f07f886b0a
billiard==4.2.1
blinker==1.9.0
celery==5.5.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
coloredlogs==15.0.1
contourpy==1.3.2
cycler==0.12.1
Cython==3.0.12
diffusers==0.33.1
facexlib==0.3.0
filelock==3.13.1
filterpy==1.4.5
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.57.0
fsspec==2024.6.1
future==1.0.0
gfpgan==1.3.8
grpcio==1.71.0
huggingface-hub==0.30.2
humanfriendly==10.0
idna==3.10
imageio==2.37.0
importlib_metadata==8.6.1
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
kombu==5.5.3
lazy_loader==0.4
llvmlite==0.44.0
lmdb==1.6.2
Markdown==3.8
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.4.2
numba==0.61.2
numpy==2.2.4
onnxruntime==1.21.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging==24.2
pillow==11.2.1
platformdirs==4.3.7
pooch==1.8.2
prompt_toolkit==3.0.51
protobuf==6.30.2
psutil==7.0.0
PyMatting==1.1.13
pyparsing==3.2.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
realesrgan==0.3.0
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
rembg==2.0.65
requests==2.32.3
rpds-py==0.24.0
safetensors==0.5.3
scikit-image==0.25.2
scipy==1.15.2
-e git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf#egg=segment_anything
setuptools==78.1.1
six==1.17.0
sympy==1.13.1
tb-nightly==2.20.0a20250419
tensorboard-data-server==0.7.2
tifffile==2025.3.30
tokenizers==0.21.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.51.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.45.1
yapf==0.43.0
zipp==3.21.0
